.top-toolbar {
  background: #f4f4f4;
  font-size: 13px;

  .container {
    max-width: 1400px;
    margin: auto;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: #333;
    margin-right: 16px;
    text-decoration: none;
  }
}
