.main-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: background 0.3s;

  &.scrolled {
    background: white;
  }

  .container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 200px;
  }

  .nav a {
    margin: 0 14px;
    text-decoration: none;
    color: #000;
  }

  .btn {
    background: #41738d;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
  }
}
