.main-header {
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10;
  background: transparent;

  .container {
    max-width: 1400px;
    margin: auto;
    padding: 0 24px;
    min-height: 110px;          
    display: flex;
    align-items: center;        
    justify-content: space-between;
  }

  .logo {
    width: 200px;
  }

  .nav {
    display: flex;
    align-items: center;         
    gap: 26px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      cursor: pointer;    
    }
  }

  

  .btn {
    background: #41738d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }
}
