<header class="sticky-header" [class.visible]="visible">
  <div class="sticky-container">
    <!-- Logo -->
    <img src="assets/logo/logo-sticky.svg" class="logo" />

    <!-- Navigation -->
    <nav class="nav">
      <a routerLink="/">Home</a>
      <a routerLink="/amenities">Amenities</a>
      <a routerLink="/floor-plans">Material Contracts</a>
      <a routerLink="/Development-Projects">Developmnet  Projects</a>
      <a routerLink="/realestate">Real-Estate Land Sale</a>
      <a routerLink="/gallery">Interior Project</a>
      <!-- <a routerLink="/residents">Residents</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/virtual-tours">Virtual Tours</a> -->
    </nav>

    <!-- CTA -->
    <a routerLink="/floor-plans" class="btn-primary">
      Find Your Home
    </a>
  </div>
</header>
